<h1>ラベル一覧ページ</h1>

  

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>タスク数</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
     <% @labels.each do |label| %>
      <tr>
        <td><%= label.name %></td>
        <td><%= label.tasks.size %></td>
        <td><%= link_to '編集', edit_label_path(label), class:"edit-label" %></td>
        <td><%= link_to '削除', label_path(label), method: :delete, data:  { confirm: t('common.confirm_destroy')}, class:"destroy-label"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
